@model IEnumerable<NorthWindWebApp.Models.Henkilot>

@{
    ViewBag.Title = "Index";
}
@section scripts {
<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".naytaTunnitNappi").click(function () {
                //alert("Plussaa painettu!");
                var henkiloId = $(this).data("henkiloid");
                //alert(henkiloId);
                $("#henkilot_" + henkiloId).css("display", "block");
                var url = "/henkilo/haetunnit/" + henkiloId;
                $.ajax(url).done(function (data) {
                    //alert("Palvelin vastasi!");
                    var tuntiData = "";
                    var tuntiHeader = "<table><tr><th>Rivi</th><th>Päiväys</th><th>Tunnit</th><th>Projekti</th></tr>"

                    for (var i = 0; i < data.length; i++) {
                        tuntiData += (i + 1) + ": " + data[i].paivamaara + " " + data[i].tunnit + "\r\n";
                    }
                    $("#henkiloText_" + henkiloId).html("<pre>" + tuntiData + tuntiHeader + "</pre>");

                    //$(this).parent().parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                });

            });
        });
    </script>


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esimies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Henkilo_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#"><span data-henkiloid="@Html.DisplayFor(modelItem => item.Henkilo_id)" class="glyphicon glyphicon-plus naytaTunnitNappi"></span></a>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esimies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postinumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sahkoposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilo_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    <tr style="display: none;" id="henkilot_@Html.DisplayFor(modelItem => item.Henkilo_id)">
        <td>&nbsp;</td>
        <td colspan ="5" id="henkiloText_@Html.DisplayFor(modelItem => item.Henkilo_id)">Lataa tietoja....</td>
    </tr>
}

</table>
